<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Test-3 Boot</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Jaster</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="../index.html">Index</a></li>
                  <li><a class="dropdown-item" href="Demo.html">Demo</a></li>
                  <li><a class="dropdown-item" href="Form.html">Form</a></li>
                  <li><a class="dropdown-item" href="#">Contact</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <form>
        <label>Name</label><input type="text" placeholder="Jaster" required>
        <label>Mail</label><input type="text" placeholder="ejemplo@google.com" required>
        <label>Password</label><input type="password" required>
        <label>Phone Number</label><input type="number" placeholder="40294893" required>
        <label>More Information</label>
        <textarea cols="25" rows="15"></textarea>
        <div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Aviso legal
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
        </div>
        <div>
          <label>Aceptar terminos y condiciones</label>
          <input class="checkbox" type="checkbox">
        </div>
        <div>
          <input class="button-sub" type="submit" value="Submit">
          <input class="button-sub" type="reset" value="Reset">
        </div>
      </form>
      <footer>
        <label>Av. Las Rosas 34 / C.P. 4575 / Phone number 9842083940</label>
        <div class="row justify-content-end">
            <div class="col">
                <a href="https://www.tiktok.com/en/"><img class="img-footer" src="../img-social-media/img-instagram.jpg" alt="instagram"></a>
                <a href="https://www.tiktok.com/en/"><img class="img-footer" src="../img-social-media/img.facebook.jpg" alt="facebook"></a>
                <a href="https://www.tiktok.com/en/"><img class="img-footer" src="../img-social-media/img.tiktok.png" alt="tiktok"></a>
                <a href="https://www.tiktok.com/en/"><img class="img-footer" src="../img-social-media/img.twitter.png" alt="twitters"></a>
            </div>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>